---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home">
	<h1>Bienvenido a Todo es Digital (Astro + Vercel)</h1>
	<p>Estamos migrando la infraestructura para máxima velocidad en Guatemala.</p>
</MainLayout>

git add .
git commit -m "Estructura inicial en Astro"
git remote add origin https://github.com/maquinoted/todo-es-digital.git
git push -u origin main


