---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Inicio">
  <h1>Bienvenido a Todo es Digital</h1>
  <p>Estamos migrando nuestra infraestructura para ofrecerte la máxima velocidad en soluciones digitales desde Guatemala.</p>
</MainLayout>