---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Inicio">
  <h1>Bienvenido a Todo es Digital (Astro + Vercel)</h1>
  <p>Estamos migrando la infraestructura para máxima velocidad en Guatemala. sdfajsfdlkjaslfjalsdkfjlksdajfklasjdfkljasd</p>

</MainLayout>