---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; // Importa el footer
const { title = "Todo es Digital" } = Astro.props;
---
<html lang="es">
  <head>...</head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer /> </body>
</html>